<div class="card">
    <img class="card-img-top"  src="https://m.media-amazon.com/images/M/MV5BYTU2NWVjNGItNTEwNS00OGUyLWJkMGMtYTVkYTVmNzg0Nzk2XkEyXkFqcGdeQXVyOTE2MTYxOQ@@._V1_.jpg" alt="Card image cap">

    <div class="card-body">
      <p class="card-text">{{movieName}}</p>
    </div>
</div>